@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $dark-blue;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
}

.list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $gray;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $dark-blue;
}

::-webkit-scrollbar-thumb {
  background: $violet;
  border-radius: 8px;
}
